{% extends 'base.html' %}

{% block more_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style/index.css') }}">
{% endblock %}

{% block title %}
    <p> Rejestr zabytków nieruchomych </p>
{% endblock %}

{% block content %}
    <p> Pozostaw pole puste jeśli chcesz dane z całego okręgu </p>

    <form id="form_search" method="post" action="{{ url_for('query_example') }}" >
    <ul>
        <li>
            <label for="voivodeship"> Województwo </label>
            <select id="cars" name="voivodeship" id="voivodeship">
                {% for item in data %}
                    <option value="{{ item }}">{{ item }} </option>
                {% endfor %} 
            </select>
        </li>

        <li>
            <label for="county"> Powiat </label>
            <input name="county" id="county">
        </li>

        <li>
            <label for="community"> Gmina </label>
            <input name="community" id="community">
        </li>

        <li>
            <label for="town"> Miejscowość </label>
            <input name="town" id="town">
        </li>

        <li>
            <label for="pin_on_map"> Wskaż na mapie (niezalecane dla obszarów większych niż gmina) </label>
            <input type="checkbox" name="pin_on_map" id="pin_on_map">
        </li>
        
        <button type="submit" id="form_submit"> Wyszukaj </button>
    </ul>
</form>
{% endblock %}